.abid {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }

  nav{
    display: flex;
    justify-content: space-between;
    margin: 0 310px;
    color: #0E0E0E;
    align-items: center;
  }

  nav div button{
    padding: 7px 12px;
    border-radius: 7px;
    border: 1px solid gray;
  }

  .banner{
    height: 560px;
    width: 1280px;
    background-color: #C6E4D6;
    margin: auto;
    border-radius: 12px;
    
    }

    .header-content{
        display: flex;
        align-items: center;
        padding: 100px;
        justify-content: space-between;
    }
    .header{
        width: 440px;
        height: 320px;
    }

  h1{
    font-size: 40px;
  }
  .text{
    font-size: 18px;
  }



  .btn{
    font-size: 14px;
    width: 180px;
    height: 40px;
    background-color: #006A50;
    border: none;
    border-radius: 10px;
    color: white;
  }

  .image{
    height: 400px;
    width: 474px;
  }

.main{
    display: flex ;
    gap: 40px;

    
}
 .main-child{
    background-color: #f5f7f6;
    border-radius: 10px;
    
 }

 .section-1 .section-4 .section-2 {
    height: 560px;
    width: 1000px;
    margin: auto;
    padding: auto;
    justify-content: space-between;

 }
 .section-2{
    height: 560px;
    width: 1280px;
    margin: auto;
    
 }
 .section-3{
    height: 560px;
    width: 1280px;
    margin: auto;
    height: 32px;
    
 }
 .present{
    color: #0E0E0E;
 }
 .how{
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    bottom: 20px;
 }
 .mamun{

    gap: 20px;
    bottom: 20px;
 }
 .style{
    display: flex;
    gap: 10px;
   
 }
 .blue{
    margin-bottom: 1000px;
 }
